/* Dekko font */
@font-face {
    font-family: 'Dekko';
    src: url('./Dekko.ttf');
    font-weight: 400;
    font-style: normal;
}

/* Josefin Slab Regular Normal Font */
@font-face {
    font-family: 'Josefin Slab Normal';
    src: url('./JosefinSlabRegular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Slab Bold';
    src: url('./JosefinSlabRegular.ttf');
    font-weight: 700;
    font-style: normal;
}

:root {
    /* Oranges */
    --peach: #FFE4AD;
    --jasmine: #FFD685;
    --sunglow: #FFC95C;
    --selective-yellow: #FFBB33;
    --orange-web: #FFAD05;
    --harvest-gold: #E09600;
    --dark-goldenrod: #BB7A00;
    --golden-brown: #8F5F00;
    --field-drab: #664400;
    /* Greens */
    --mint-green: #DFF7F3;
    --celeste: #AEEAE2;
    --turquoise: #4BD2BE;
    --Keppel: #31C4AE;
    --persian-green: #269987;
    --pine-green: #1D7264;
    --brunswick-green: #196155;
    --darker-brunswick-green: #155147;
    --dark-green: #0D312B;
    /* Platinum for links */
    --platinum: #E7EAE8;
    /* Reds */
    --lavender-blush: #FEEBEB;
    --tea-rose: #FDC4C4;
    --light-red: #F97676;
    --imperial-red: #F84F4F;
    --turkey-red: #b00707;
    --dark-red: #890606;
    --blood-red: #620404;
    --black-bean: #3B0202;
    /* Neutrals */
    --white-smoke: #F5F5F5;
    --timberwolf: #D6D6D6;
    --silver: #C2C2C2;
    --battleship-gray-light: #999999;
    --battleship-gray-dark: #858585;
    --outer-space: #474747;
    --jet: #333333;
    --eerie-black: #1F1F1F;
}

/* Default Styling */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
}

.content {
    display: grid;
    background-color: var(--eerie-black);
    max-width: 375px;
    grid-template-columns: minmax(250px, 375px);
    grid-template-areas: "navbar"
                         "information";
    justify-content: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    grid-area: navbar;
}

.logo {
    width: 7.5rem;
    height: 3.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > img {
    width: 4.6rem;
    height: 3.1rem;
}

.linkbar {
    font-family: 'Josefin Slab Bold';
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: black;
    padding: 2rem;
}

.linkbar > a {
    text-decoration: none;
    color: var(--sunglow);
    cursor: pointer;
    transition: color 0.3s ease-in;
    display: inline-block;
    position: relative;
    
}

.linkbar > a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    opacity: 0;
    bottom: 0;
    left: 0;
    background-color: var(--dark-goldenrod);
    transition: opacity 0.3s ease-in,
                transform 0.3s ease-in;
}

.linkbar > a:hover::after {
    opacity: 1;
    transform: translate3d(0, 0.4rem, 0);
}

.linkbar > a:hover {
    color: var(--celeste);
}

/* About page styling */

.aboutContent {
    display: grid;
    justify-content: center;
    justify-items: center;
    font-family: 'Dekko';
    margin-top: 72px;
    gap: 2rem;
}

.title {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 4px;
    color: var(--sunglow);
}

.portion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


.portion > img {
    width: 100%;
    max-width: 187px;
    height: 175px;
    object-fit: cover;
    object-position: top;
}


.textInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.textInformation > h2 {
    color: var(--selective-yellow);
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 3px;
}

.textInformation > p {
    color: var(--dark-goldenrod);
    max-width: 240px;
    text-align: center;
}

@media screen and (min-width: 780px) {

    .content {
        width: 100%;
        max-width: 1440px;
        grid-template-columns: minmax(375px, 1440px);
    }

    .logo {
        width: 100%;
        max-width: 25.5rem;
        height: 3.8rem;
    }

    .logo > img {
        width: 100%;
        max-width: 25.6rem;
        height: 5rem;
    }

    .linkbar > a {
        font-size: 1.8rem;
    }

    .aboutContent {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "title title"
                             "img1 text1"
                             "text2 img2"
                             "outro outro";
    }

    .title {
        grid-area: title;
        font-size: 5rem;
    }

    .portion {
        margin-top: 5rem;
    }

    .portion1 > img {
        grid-area: img1;
    }

    .portion1 > .textInformation {
        grid-area: text1;
    }

    .portion2 > img {
        grid-area: img2;
    }

    .portion2 > .textInformation {
        grid-area: text2;
    }

    .portion > img {
        max-width: 300px;
        height: 250px;
        margin-bottom: 2rem;
    }

    .textInformation {
        margin-bottom: 2rem;
    }

    .textInformation > h2 {
        font-size: 3rem;
    }

    .textInformation > p {
        font-size: 2rem;
    }

    .outro {
        grid-area: outro;
    }
}