/* Dekko font */
@font-face {
    font-family: 'Dekko';
    src: url('./Dekko.ttf');
    font-weight: 400;
    font-style: normal;
}

/* Josefin Slab Regular Normal Font */
@font-face {
    font-family: 'Josefin Slab Normal';
    src: url('./JosefinSlabRegular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Slab Bold';
    src: url('./JosefinSlabRegular.ttf');
    font-weight: 700;
    font-style: normal;
}

:root {
    /* Oranges */
    --peach: #FFE4AD;
    --jasmine: #FFD685;
    --sunglow: #FFC95C;
    --selective-yellow: #FFBB33;
    --orange-web: #FFAD05;
    --harvest-gold: #E09600;
    --dark-goldenrod: #BB7A00;
    --golden-brown: #8F5F00;
    --field-drab: #664400;
    /* Greens */
    --mint-green: #DFF7F3;
    --celeste: #AEEAE2;
    --turquoise: #4BD2BE;
    --Keppel: #31C4AE;
    --persian-green: #269987;
    --pine-green: #1D7264;
    --brunswick-green: #196155;
    --darker-brunswick-green: #155147;
    --dark-green: #0D312B;
    /* Platinum for links */
    --platinum: #E7EAE8;
    /* Reds */
    --lavender-blush: #FEEBEB;
    --tea-rose: #FDC4C4;
    --light-red: #F97676;
    --imperial-red: #F84F4F;
    --turkey-red: #b00707;
    --dark-red: #890606;
    --blood-red: #620404;
    --black-bean: #3B0202;
    /* Neutrals */
    --white-smoke: #F5F5F5;
    --timberwolf: #D6D6D6;
    --silver: #C2C2C2;
    --battleship-gray-light: #999999;
    --battleship-gray-dark: #858585;
    --outer-space: #474747;
    --jet: #333333;
    --eerie-black: #1F1F1F;
}

/* Default Styling */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
}

.content {
    display: grid;
    background-color: var(--eerie-black);
    max-width: 375px;
    grid-template-columns: minmax(250px, 375px);
    grid-template-areas: "navbar"
                         "information";
    justify-content: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    grid-area: navbar;
}

.logo {
    width: 7.5rem;
    height: 3.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > img {
    width: 4.6rem;
    height: 3.1rem;
}

.linkbar {
    font-family: 'Josefin Slab Bold';
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: black;
    padding: 2rem;
}

.linkbar > a {
    text-decoration: none;
    color: var(--sunglow);
    cursor: pointer;
    transition: color 0.3s ease-in;
    display: inline-block;
    position: relative;
    
}

.linkbar > a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    opacity: 0;
    bottom: 0;
    left: 0;
    background-color: var(--dark-goldenrod);
    transition: opacity 0.3s ease-in,
                transform 0.3s ease-in;
}

.linkbar > a:hover::after {
    opacity: 1;
    transform: translate3d(0, 0.4rem, 0);
}

.linkbar > a:hover {
    color: var(--celeste);
}

/* Styles for the home page */

h1 {
    font-size: 2.8rem;
    color: var(--harvest-gold);
    animation-name: flicker;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 2;
    animation-fill-mode: both;
    animation-direction: alternate;
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 99% {
        color: #fff;
        text-shadow: 0 0 4px #fff,
        0 0 10px #fff,
        0 0 18px #fff,
        0 0 28px var(--harvest-gold),
        0 0 42px var(--harvest-gold),
        0 0 52px var(--harvest-gold),
        0 0 62px var(--harvest-gold),
        0 0 72px var(--harvest-gold);
    }
    20%, 24%, 55% {
        text-shadow: none;
    }

}


.banner {
    justify-self: center;
    margin-block: 2rem;
    width: 255px;
    height: 135px;
}

.information {
    color: var(--harvest-gold);
    font-family: 'Dekko';
    display: grid;
    justify-items: center;
    grid-area: information;
}

.choose {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
    max-width: 30ch;
}

h2 {
    color: var(--imperial-red);
}

.choose > p,
.street > p {
    color: var(--jasmine);
}

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.street {
    
}

.telephone > a {
    color: var(--imperial-red);
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s ease-in;
    position: relative;
}

.telephone > a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    background-color: var(--Keppel);
    transition: transform 0.3s ease-in-out;
}

.telephone > a:hover::after {
    transform: scale(1);
    transform-origin: left;
}

.telephone {
    margin-bottom: 2rem;
}

.bookUs {
    background-color: var(--persian-green);
    color: var(--timberwolf);
    border: none;
    width: 11rem;
    height: 4rem;
    border-radius: 12px;
    margin-bottom: 3rem;
    font-family: 'Josefin Slab Regular';
    cursor: pointer;
    transition: width 300ms ease-in-out,
                background-color 300ms ease-in;
}

.bookUs:hover {
    width: 13rem;
    background-color: var(--brunswick-green);
}

@media screen and (min-width: 600px) {
    
    .content {
        display: grid;
        background-color: var(--eerie-black);
        width: 100%;
        max-width: 1440px;
        grid-template-columns: minmax(375px, 1440px);
        justify-content: center;
    }

    .logo {
        width: 25.5rem;
        height: 3.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo > img {
        width: 25.6rem;
        height: 5rem;
    }

    .linkbar > a {
        font-size: 1.8rem;
    }

    .linkbar > a::after {
        height: 2px;
        
    }
    
    .information {
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 235px 125px 300px 120px;
        justify-content: center;
        align-items: center;
        grid-template-areas: "banner banner"
                             "headline headline"
                             "choose location"
                             "reservation reservation";
        margin-top: 3rem;
        margin-left: 5rem;
        row-gap: 5rem;
        position: relative;
    }

    h1 {
        font-size: 9rem;
        text-align: center;
        line-height: 10rem;
        grid-area: headline;
    }
    
    .banner {
        transform: scale(1.4);
        grid-area: banner;
        overflow: hidden;
        margin-top: 5rem;
    }

    .choose {
        grid-area: choose;
        margin-top: -3rem;
        align-self: baseline;
    }

    h2 {
        font-size: 3rem;
        
    }

    .choose > p,
    .street > p {
        font-size: 1.8rem;
    }

    .location {
        grid-area: location;
        font-size: 1.8rem;
        margin-top: -3rem;
        align-self: baseline;
    }

    .choose,
    .location {
        position: relative;
        top: 5rem;
    }

    .bookUs {
        grid-area: reservation;
        margin-top: -5rem;
        width: 14rem;
        height: 5rem;
    }

    .bookUs:hover {
        width: 15rem;
    }
}